- @title = "Javascript & JQuery"
- @chapter = "Introduction"
%section
	%h2 À propos de Debian
	%section
		%h3 Un projet
		%ul
			%li Une organisation
			%li Uniquement des bénévoles
			%li
				Un but :
				%b développer du logiciel libre
			%li
				Des engagements :
				= succeed "," do
					%a{:href => "http://www.debian.org/social_contract"} contrat social
				%br
				= succeed "," do
					%a{:href => "http://www.debian.org/social_contract#guidelines"} des directives
				%a{:href => "http://www.debian.org/doc/debian-policy/"} la charte

	%section
		%h3 GNU / Linux
		%ul
			%li
				Un système d'exploitation
				%b inspiré d'unix
			%li
				Le
				%b projet GNU
				(1984)
			%li
				Le
				%b noyau Linux
				(1991)
			%li
				Du
				%b Logiciel Libre


	%section
		%h3 Pourquoi Debian ?
		%ul
			%li Philosophie
			%li Excellence technique
			%li Grande sûreté du système
			%li Une gestion des paquets évoluée


	%section
		%h3 Distribution de logiciels
		%ul.iconbullet.column-left
			%li
				%img{:src => "img/distro-fedora.png"}
				Fedora (ex-Redhat)
			%li
				%img{:src => "img/distro-suse.png"}
				OpenSuSe
			%li
				%img{:src => "img/distro-slack.png"}
				Slackware
			%li
				%img{:src => "img/distro-mageia.png"}
				Mageia (ex-Mandriva, ex-Mandrake)
		%ul.iconbullet.column-right
			%li
				%img{:src => "img/distro-debian.png"}
				Debian
			%li
				%img{:src => "img/distro-ubuntu.png"}
				Ubuntu
			%li
				%img{:src => "img/distro-mint.png"}
				Mint
			%li ...


	%section
		%h3
			Le système d'exploitation
			%em universel
		%ul.column-left
			%li Une branche GNU/Linux, mais pas que...
			%li Plus de 29 000 paquets
			%li
				Sert de base à
				= succeed "," do
					%b Knoppix
				= succeed "," do
					%b Ubuntu
				= succeed "..." do
					%b Mint
		%ul.column-right
			/ FIXME
			%li plein de gens
			%li plein de matériels
			%li plein de tests
			%li plein de correctifs


%section
	%h2 Avant l'installation
	%section
		%h3 Choix du matériel
		%ul
			%li Pas trop récent
			%li Vérifier les HCL


	%section
		%h3 Choix de la version
		%p
			Selon la stabilité, le risque, ou la nouveauté souhaitée :
			= succeed "," do
				%b stable
			= succeed "," do
				%b testing
			= succeed "..." do
				%b unstable
		%br/
		%p .. et pour la bonne architecture matérielle !
		%ul
			%li
				%b i386
				\- compatible x86, 32 bits
			%li
				%b amd64
				\- compatible x86, 64 bits
			%li
				%b arm
			%li
				%b mips
			%li ...


	%section
		%h3 Choix du support
		%ul.iconbullet
			%li
				%img{:src => "img/icon-cdrom.png"}
				image cd (iso)
			%li
				%img{:src => "img/icon-dvd.png"}
				image dvd (iso)
			%li
				%img{:src => "img/icon-pendrive.png"}
				image disque usb
			%li
				%img{:src => "img/icon-network.png"}
				réseau (bootp + pxe)


	%section
		%h3 Choix du media
		%ul
			%li Selon le support
			%li
				Installeur complet ou
				%em netinstall
				= succeed "(NFS," do
					%br
				HTTP, FTP, Bittorent, etc.)
			%li
				À télécharger sur le
				%a{:href => "http://www.debian.org/distrib/netinst"} site officiel


%section
	%h3 IsoLinux
	%section
		%p Choix du type d'installation
		%ul
			%li
				%b install
				\-
				%em classique
				en mode texte
			%li
				%b installation graphique
				\- moderne, mais dépend du matériel
			%li
				%b advanced options
				\- expert, automatisée, sauvetage ...
	%section
		%img{:src => "img/debian-isolinux.png"}


%section
	%h2 Sélection de la langue
	%section
		%ul
			%li Installation
			%li Zone geographique
			%li Clavier
	%section
		%img{:src => "img/debian-language.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-geography.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-keyboard.png", :style => "width:70%;"}


%section
	%h2 Réseau
	%section
		%ul
			%li Automatique (par défaut) ou statique
			%li Nom de machine
			%li Nom de réseau
	%section
		%img{:src => "img/debian-netmodules.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-netmachine.png", :style => "width:70%;"}
	/
		<section>
		<img src="img/debian-netdomain.png" style="width:70%;" />
		</section>


%section
	%h2 Utilisateurs
	%section
		%p
			%b root
			et utilisateur principal
		%img{:src => "img/xkcd-password_strength.png", :style => "width:50%; border: 0.5em solid white;"}
	%section
		%img{:src => "img/debian-userroot.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-userrootpwd.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-usermain.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-usermainpwd.png", :style => "width:70%;"}


%section
	%h2 Partitionnement
	%section
		%ul
			%li Choix du disque
			%li Gestion des partitions
			%li Gestion des points de montage
			%li Formatage
	%section
		%img{:src => "img/debian-partauto.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-partauto2.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-partauto3.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-partauto4.png", :style => "width:70%;"}


%section
	%h2 Système de base
	%section
		%p Wait & see :-)
	%section
		%img{:src => "img/debian-installsystem.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-installsystem2.png", :style => "width:70%;"}


%section
	%h2 Gestion des paquets
	%section
		%ul
			%li Choix de la zone géographique
			%li Définition du mirroir
			%li Choix du mandataire HTTP (proxy)
	%section
		%img{:src => "img/debian-pkggeography.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-pkgmirror.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-pkgproxy.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-pkgcfg.png", :style => "width:70%;"}


%section
	%h2 Popularity contest
	%section
		%img{:src => "img/debian-popcontest.png", :style => "width:70%;"}


%section
	%h2
		Choix des
		%em tâches
	%section
		%img{:src => "img/debian-tasksel.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-taskinst.png", :style => "width:70%;"}


%section
	%h2 Fin de l'installation
	%section
		%img{:src => "img/debian-grub.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-finish.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-restartgrub.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-restartboot.png", :style => "width:70%;"}
	%section
		%img{:src => "img/debian-restartgdm.png", :style => "width:70%;"}


%section
	%h2 Fin
	%section
		%h3 Références
		%ul
			%li
				%a{:href => "http://www.debian.org/releases/stable/installmanual"} Debian squeeze - Installation Guide
			%li
				%a{:href => "http://www.debian.org/releases/stable/i386/"} Manuel de référence Debian pour i386
			%li
				%a{:href => "http://formation-debian.via.ecp.fr/"} Formation Debian GNU/Linux
			%li
				%a{:href => "http://distrowatch.com/"} Distrowatch
	%section
		%h3 Des questions ?
	%section
		%h3 Merci !

