%section{"data-state" => "title"}
	%h1 Administration GNU/Linux
	%h3.inverted Bases d'unix
	:javascript
		\// Delicously hacky. Look away.
		if( navigator.userAgent.match( /(iPhone|iPad|iPod|Android)/i ) )
		document.write( '<p style="color: rgba(0,0,0,0.3); text-shadow: none;">('+'Tap to navigate'+')<'+'/p>' );
	%br
	%br
	%p 2012-04
	%br
	%br
	%i
		%small
			%a{:href => "http://www.gnuside.com"} Gnuside
			\/
			%a{:href => "http://twitter.com/gnuside"} @gnuside

%section
	%h2 Utilisateurs
	%section
		%h3 Ajout
		%ul
			%li
				%b useradd
				(minimaliste et standart)
			%li
				%b adduser
				(polyvalent mais spécifique Debian)
		%pre
			%code root@batcave:~# useradd batman
	%section
		%h3 Modification
		%div
			%p
				Changer le mot de passe :
				%b passwd
			%pre
				%code
					:preserve
						batman@batcave:~$ passwd
						Changement du mot de passe pour batman.
						Mot de passe UNIX (actuel) : 
						Entrez le nouveau mot de passe UNIX : 
						Retapez le nouveau mot de passe UNIX : 
						passwd : le mot de passe a été mis à jour avec succès
						batman@batcave:~#
		%div
			%p
				Modifier les propriétés :
				%b usermod
			%pre
				%code # usermod batman -c "Bat-Like Avenger"
	%section
		%h3 Suppression
		%ul
			%li
				%b userdel
				(minimaliste et standart)
			%li
				%b deluser
				(polyvalent mais spécifique Debian)
		%pre
			%code root@batcave:~# userdel batman
%section
	%h2 Groupes
	%section
		%h3 Ajout
		%ul
			%li
				%b groupadd
				(minimaliste et standart)
			%li
				%b addgroup
				(polyvalent mais spécifique Debian)
		%pre
			%code
				:preserve
					root@batcave:~# groupadd batteam
	%section
		%h3 Suppression
		%ul
			%li
				%b groupdel
				(minimaliste et standart)
			%li
				%b delgroup
				(polyvalent mais spécifique Debian)
		%pre
			%code
				:preserve
					root@batcave:~# groupdel batteam
%section
	%h2 Utilisateurs et groupes
	%section
		%h3 Quelques fichiers importants
		%ul
			%li
				%a{:href => "#2/3"} /etc/passwd
				\- utilisateurs
			%li
				%a{:href => "#2/4"} /etc/shadow
				\- mots de passe
			%li
				%a{:href => "#2/4"} /etc/groups
				\- groupes
	%section
		%h3 /etc/passwd
		%div
			%p Un format super-simple
			%p
				%small
					%b username
					\:
					%b password
					\:
					%b user id (UID)
					\:
					%b group id (GID)
					\:
					%b description
					\:
					%b home
					\:
					%b shell
		%div
			%pre
				%code
					:preserve
						
						root:x:0:0:root:/root:/bin/bash 
						daemon:x:1:1:daemon:/usr/sbin:/bin/sh 
						bin:x:2:2:bin:/bin:/bin/sh 
						sys:x:3:3:sys:/dev:/bin/sh 
						sync:x:4:65534:sync:/bin:/bin/sync 
						games:x:5:60:games:/usr/games:/bin/sh 
						man:x:6:12:man:/var/cache/man:/bin/sh 
						lp:x:7:7:lp:/var/spool/lpd:/bin/sh
						mail:x:8:8:mail:/var/mail:/bin/sh
						news:x:9:9:news:/var/spool/news:/bin/sh 
						
						...
						
						batman:x:1001:1001:Bruce Wayne:/home/batman:/bin/bash
														%section
		%h3 /etc/shadow
		%div
			%p Un format super-simple :
			%p
				%small
					%b username
					\:
					%b password
					\:
					%b date du password
					\:
					%b etc (age min, age max...)
		%div
			%pre
				%code
					:preserve
						
						root:$6$gjBGnh.Q$RPnyfdvkhXHTP4xtcrVO4I7lGIyp8G3IZiQjjj8cBDikCE3ePuPBuzAex1ip1KVLFbe5GYKiGNxAybPU783Bk0:15174:0:99999:7:::
						daemon:*:15172:0:99999:7:::
						bin:*:15172:0:99999:7:::
						sys:*:15172:0:99999:7:::
						sync:*:15172:0:99999:7:::
						games:*:15172:0:99999:7:::
						man:*:15172:0:99999:7:::
						lp:*:15172:0:99999:7:::
						mail:*:15172:0:99999:7:::
						news:*:15172:0:99999:7:::
						
						...
						
						batman:$6$MdCbGr5F$PfyMqt8MC2EQjzczwdLuqwTxAbm/BqfErwU7gvd02vGQbxL.ZIg5tSNacfp/4pmfwodDYioXTSon2VxTZnQYW/:15174:0:99999:7:::
	%section
		%h3 /etc/group
		%div
			%p Un format super-simple :
			%p
				%small
					%b group name
					\:
					%b password
					\:
					%b group id (GID)
					\:
					%b group list
			%div
				%pre
					%code
						:preserve
							
							root:x:0:
							daemon:x:1:
							
							...
							
							lp:x:7:
							mail:x:8:
							news:x:9:
							cdrom:x:24:batman
							floppy:x:25:batman
							audio:x:29:batman,pulse
							
							...
							
							batman:x:1002:
							robin:x:1003:
							batteam:x:1004:batman,robin,batgirl
	%section
		%h3 UIDs et GIDs
		%div
			%p Valeurs de 0 à 65534
			%ul
				%li
					%b 0
					\: root (administrateur)
				%li
					%b 1-99
					\:
					Utilisateurs système, alloués par le projet Debian
				%li
					%b 100-999
					\:
					Utilisateurs système, non-alloués par le projet Debian
				%li
					%b 1000-59999
					\: Utilisateurs “normaux”
				%li
					%b 60000-64999
					\: Utilisateurs “normaux” gérés par Debian
				%li
					%b 65000-65533
					\: Réservé
				%li
					%b 65534
					\: Utilisateur "nobody" (sans droits ni permissions)
	%section
		%h3 Quelques outils
		%ul
			%li
				%b id
				\- afficher les identifiants d'utilisateur et de groupe
			%li
				%b groups
				\-	affiche les groupes auxquels appartient un utilisateur
			%li
				%b getent
				\- récupère des entrées depuis les bases de données d'administration
	%section
		%h3 Configuration des comptes utilisateurs
		%ul
			%li
				%b /etc/skel.conf
			%li
				%b /etc/skel/*
			%li
				%b /etc/adduser.conf
			%li
				%b /etc/default/adduser
%section
	%h2 Installation de logiciels
	%p
		L'installation peut varier
		%span
			%b selon le logiciel
		%br
		%span
			et
			%b selon la distribution
			\!
	%br
	%p
		En général, à partir du
		%i code source
		\:
	%ul
		%li
			%b ./configure
			(detecte l'environnement et configure)
		%li
			%b make
			(compile les sources en un binaire exécutable)
		%li
			%b make install
			(installe sur le système)
	%br
	%br
	%p Démonstration !
%section
	%h2 Archivage
	%section
		%ul
			%li
				%b tar
				\- archivage de fichiers
			%li
				%b cpio
				\- archivage de fichiers (ancien)
			%li
				%b ar
				\- archivage de fichiers (très ancien)
			%li
				%b rsync
				\- archivage de fichiers
			%li
				%b dd
				\- copie de disques
			%li
				%b partimage
				copies de disques
	%section
		%h3 tar : vue d'ensemble
		%ul
			%li sans compression
			%li
				outils tiers pour compresser:
				= succeed "," do
					%b gzip
				= succeed "," do
					%b bzip2
				= succeed "..." do
					%b 7z
			%li
				dans tar, paramètres :
				%b -z
				(gzip),
				%b -j
				(bzip2),
				%b -a
				(automatique)
	%section
		%h3 tar : créer une archive
		%small
			(au format
			= succeed ")" do
				%b tar.gz
		%pre
			%code
				:preserve
					tar czvf archives-batcave.tar.bz2 /home/batman/documents
		%pre
			%code
				:preserve
					tar cvf archives-batcave.tar /home/batman/documents
					gzip archives-batcave.tar
	%section
		%h3 tar : lister une archive
		%small
			(au format
			= succeed ")" do
				%b tar.gz
		%pre
			%code
				:preserve
					gunzip archives-batcave.tar.gz
					tar tvf archives-batcave.tar
		%pre
			%code
				:preserve
					tar tavf archives-batcave.tar.gz
	%section
		%h3 tar : restaurer une archive
		%small
			(au format
			= succeed ")" do
				%b tar.gz
		%pre
			%code
				:preserve
					gunzip archives-batcave.tar.gz
					tar xvf archives-batcave.tar
		%pre
			%code
				:preserve
					tar xavf archives-batcave.tar.gz
	%section
		%h3 tar : trucs et astuces
		%p Peut aussi servir à copier des disques
		%pre
			%code
				:preserve
					(cd /anciendisque ; tar cf - . ) | (cd /nouveaudisque ; tar xvf - )
	%section
		%h3 cpio
		%ul
			%li Obsolete depuis tar
			%li
				Format des packages
				%em .rpm
	%section
		%h3 cpio : créer une archive
		%ul
			%li
				%b -o
				\: créer une archive
			%li
				%b -F
				\: nom de l'archive (sinon stdio / stdou)
			%li
				%b
					\-H
					%em format
				\: format à utiliser
			%li
				%b -i
				\: restaurer l'archive
		%pre
			%code
				:preserve
					find documents | cpio -o -H tar -F archives-batcave.tar
	%section
		%h3 cpio : lister une archive
		%ul
			%li
				%b -F
				\: nom de l'archive (sinon stdio / stdou)
			%li
				%b -i
				\: restaurer l'archive
			%li
				%b -t
				\: afficher la table
		%pre
			%code
				:preserve
					cpio -it -F perl-files.tar
	%section
		%h3 cpio : restaurer une archive
		%ul
			%li
				%b -F
				\: nom de l'archive (sinon stdio / stdou)
			%li
				%b -i
				\: restaurer l'archive
		%pre
			%code
				:preserve
					cpio -i -F archives-batcave.tar
%section
	%h2 Sauvegarde
	%section
		%h3 dd : copie et conversion
		%ul
			%li
				%b if
				\: source (input file)
			%li
				%b of
				\: destination (output file)
			%li
				%b bs
				\: taille des blocks (block side)
			%li
				%b count
				\: nombre de blocks
		%pre
			%code
				:preserve
					dd if=/foo of=/bar bs=1M count=1000
		%p Ne résiste pas aux erreurs disque
		%p
			Une alternative :
			%b dd_rescue
	%section
		%h3 rsync : vue d'ensemble
		%ul
			%li Synchronise deux répertoires
			%li Synchronisation locale ou distante
			%li Disponible pour toutes plate-formes
			%li Sécurisé via SSH
	%section
		%h3 rsync : synchronisation
		%ul
			%li
				%b -a
				\: archive
			%li
				%b -v
				\: verbose
			%li
				%b -z
				\: compression
		%pre
			%code
				:preserve
					rsync -e ssh \
							-avz \
							batman@batcave.batdomain:/home/batman/ \
							/home/bruce/backups/batman/
	%section
		%h3 partimage
		%p Outil complet d'archivage et restauration de disques (voir la doc...)
%section
	%h2 Démarrage système
	%section
		%h3 Lilo / Grub
		%p DEMO
	%section
		%h3 Le noyau et ses arguments
		%p DEMO
%section
	%h2 Init et services
	%section
		%h3 Le processus init
		%p DEMO
	%section
		%h3 Niveaux de démarrage
		%ul
			%li
				%b 0
				\: arrêt du systeme
			%li
				%b 1
				\: utilisateur unique (single)
			%li
				%b 2 à 5
				\: multi-utilisateur
			%li
				%b 6
				\: redémarrage
	%section
		%h3 Utiliser init
		%p Exemple: passer du niveau de courant au niveau 1
		%pre
			%code # init 1
	%section
		%h3 Lancement des services
		%ul
			%li
				Scripts dans
				%b /etc/init.d/
			%li
				Démarrage controlé par
				%b /etc/rc*.d/
		%pre
			%code
				:preserve
					# ln -s /etc/init.d/batcave_setup /etc/rc0.d/K20mon_script
					# ln -s /etc/init.d/batcave_setup /etc/rc1.d/S20mon_script
					# ln -s /etc/init.d/batcave_setup /etc/rc2.d/S20mon_script
					# ln -s /etc/init.d/batcave_setup /etc/rc3.d/S20mon_script
					# ln -s /etc/init.d/batcave_setup /etc/rc4.d/S20mon_script
					# ln -s /etc/init.d/batcave_setup /etc/rc5.d/S20mon_script
					# ln -s /etc/init.d/batcave_setup /etc/rc6.d/K20mon_script
			%pre
				:preserve
					
																	%section
		%h3 Le fichier inittab
		%p Fixer le	niveau par défaut
		%pre
			%code id:2:initdefault:
	%section
		%h3 Arrêt et redémarrage
		%ul
			%li
				%b halt
			%li
				%b shutdown
			%li
				%b reboot
%section
	%h2 Fin
	%section
		%h3 Références
		%ul
			%li
				%a{:href => "http://www.debian.org/doc/debian-policy/ch-opersys.html"} Debian policy Manual
			%li
				%a{:href => "http://doc.ubuntu-fr.org/rsync"} Doc Ubuntu : Rsync
	%section
		%h3 Questions ?
	%section
		%h3 Merci !

